{% extends "base.html" %}

{% block title %}
Edit Game
{% endblock %}

{% block content %}
<div class="container">
    <h2>Edit Game</h2>
    <form method="POST" action="{{ url_for('games.edit_game', game_id=game.id) }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.gamenames.label(class="form-control-label") }}
            {{ form.gamenames(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.description.label(class="form-control-label") }}
            {{ form.description(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.playernumber.label(class="form-control-label") }}
            {{ form.playernumber(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.status.label(class="form-control-label") }}
            {{ form.status(class="form-check-input") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
{% endblock %}